name: CI Discount Code Service

on:
  push:
    branches: [ "deploy" ]
  pull_request:
    branches: [ "deploy" ]

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del c칩digo
      uses: actions/checkout@v4

    - name: Configurar Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21' # Versi칩n est치ndar para microservicios de Google
        cache: true

    - name: Instalar dependencias
      run: go mod download

    - name: Verificar formato (Lint)
      run: go fmt ./...

    - name: Ejecutar Tests
      # Esto buscar치 todos los archivos _test.go en tu microservicio
      run: go test -v ./...

    - name: Compilar (Build)
      run: go build -v ./...
